.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
}

.heroes-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 4rem;
}
